<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo.svg" alt="" />
                    <span class="align-middle text-2xl font-semibold dark:text-white-light lg:inline ltr:ml-1.5 rtl:mr-1.5">SelaluAda</span>
                </a>
                <a
                    href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary dark:text-white-light dark:hover:bg-dark-light/10 rtl:rotate-180"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})"
                >
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    
                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                    <icon-minus class="hidden h-5 w-4 flex-none" />
                    <span>{{ ('customer application' | translate) || '&nbsp;' }}</span>
                    </h2>

                    <ul class="space-y-2">
                    <li class="nav-item" *ngIf="hasAccess(['MARKETING', 'SUPERADMIN'])">
                        <a routerLink="/apps/checker/review" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                        <div class="flex items-center">
                            <icon-menu-documentation class="shrink-0 group-hover:!text-primary" />
                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                            Loan Review
                            </span>
                        </div>
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="hasAccess(['BRANCHMANAGER', 'SUPERADMIN'])">
                        <a routerLink="/apps/checker/approval" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                        <div class="flex items-center">
                            <icon-menu-forms class="shrink-0 group-hover:!text-primary" />
                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                            Loan Approval
                            </span>
                        </div>
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="hasAccess(['BACKOFFICE', 'SUPERADMIN'])">
                        <a routerLink="/apps/checker/Disburse" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                        <div class="flex items-center">
                            <icon-menu-invoice class="shrink-0 group-hover:!text-primary" />
                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                            Loan Disburse
                            </span>
                        </div>
                        </a>
                    </li>
                    </ul>


                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>{{ ('History Application' | translate) || '&nbsp;' }}</span>
                    </h2>
                    <li class="nav-item">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="apps/history_loan/history" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-datatables class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'Loan History' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>     
                        </ul>
                    </li>
                    
                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>{{ ('user detail' | translate) || '&nbsp;' }}</span>
                    </h2>
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('authentication') }"
                            (click)="toggleAccordion('authentication')"
                        >
                            <div class="flex items-center">
                                <icon-menu-authentication class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                    >{{ 'authentication' | translate }}</span
                                >
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('authentication') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('authentication')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-signin" target="_blank">{{ 'Log In' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-signup" target="_blank">{{ 'Register' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-lockscreen" target="_blank">{{ 'Lockscreen' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-password-reset" target="_blank">{{ 'Reset Password' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-change-password" target="_blank">{{ 'Change Password' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/boxed-forgot-password" target="_blank">{{ 'Forgot Password' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ng-container *ngIf="hasAccess(['SUPERADMIN'])">
                        <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                            <icon-minus class="hidden h-5 w-4 flex-none" />
                            
                            <span>{{ ('user management' | translate) || '&nbsp;' }}</span>
                        </h2>
                        
                        <li class="nav-item">
                            <ul>
                                <li class="nav-item">
                                    <a routerLink="/apps/contacts" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <div class="flex items-center">
                                            <icon-menu-users class="shrink-0 group-hover:!text-primary" />

                                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                                >{{ 'Staff Management' | translate }}</span
                                            >
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/apps/role-control" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <div class="flex items-center">
                                            <icon-menu-widgets class="shrink-0 group-hover:!text-primary" />

                                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                                >{{ 'Role Control' | translate }}</span
                                            >
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/apps/branches" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <div class="flex items-center">
                                            <icon-menu-contacts class="shrink-0 group-hover:!text-primary" />

                                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                                >{{ 'Branch Control' | translate }}</span
                                            >
                                        </div>
                                    </a>
                                </li>      
                                
                                <li class="nav-item">
                                    <a routerLink="/apps/plafond" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <div class="flex items-center">
                                            <icon-menu-apps class="shrink-0 group-hover:!text-primary" />

                                            <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                                >{{ 'Plafond Control' | translate }}</span
                                            >
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ng-container>
                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>
